{% extends 'main.html' %}{% load static %} {% block content %}
<div class="content row">
  <div class="right-left col-5">
    <p class="info">Create a list</p>
    <form method="POST">
      {% csrf_token %}
      <b><label for="list_name">List name:</label></b>
      <br />
      <input type="text" name="list_name" placeholder="List name" /><br />
      <b><label for="password">Password:</label></b
      ><br />
      <input type="text" name="password" placeholder="Password" /><br />
      <button class="btn btn-primary" type="submit" name="Submit" value="create_list">Create!</button>
    </form>
  </div>
  <div class="middle col-2">
    <p class="or">or</p>
  </div>
  <div class="right-left col-5">
    <p class="info">Search a list</p>
    <form method="POST">
      {% csrf_token %}
      <b><label for="list_name">List name:</label></b
      ><br />
      <input type="text" name="list_name" placeholder="List name" /><br />
      <button class="btn btn-primary" type="submit" name="Submit" value="search_list">Search!</button>
    </form>
  </div>
</div>
{% endblock %}
